<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2" id="about-text">
                    <p>Hugely experienced band based in East Yorkshire. Offering a solution to your musical needs, whatever they may be. Whether it’s an intimate acoustic performance or 6 piece function band for your special occasion, the Gypsy Moths do it all! We offer our unique take on the latest chart hits, modern classics and some of the greatest songs ever written.</p><br>
                    <div class="page-scroll">
                      <a href="javascript:void(0)" class="btn btn-success btn-lg">Call</a> or
                      <a href="#contact" class="btn btn-success btn-lg">Book</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
